@import url('https://fonts.cdnfonts.com/css/anger-styles');
@import url('https://fonts.cdnfonts.com/css/conthrax');
@import url('https://fonts.cdnfonts.com/css/bahnschrift');

body {
    background-color: #000;
    color: #fff;
}

#hidden .a {
	font-family: 'Anger Styles';
}

#hidden .b {
	font-family: 'Conthrax';
}

#hidden .c {
	font-family: 'Bahnschrift';
}

label {
	display: inline-block;
	width: 120px;
}

input[type=text] {
	width: 80px;
}
